.carrosel {
    width: 1440px;
    margin: 0 auto;
}

.carrosel-titulo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 69px;
    color: #FE6C05;
    text-align: center;
    margin-bottom: 80px;    
}

.modal-container {
    position: relative;
}

.projeto {
    max-width: 520px;
    background: #FBFBFB;
    border: 1px solid #FE6C05;
    border-radius: 3px;
    cursor: pointer;
}

.show{
    display: block !important;
}

.projeto:first-of-type {
    margin-right: 30px;
}

.projeto-img {
    display: block;
    width: 512px;
    margin: 5px auto 0;
}

.projeto div {
    padding: 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projeto h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #FD8419;
}

.projeto p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #000000;
    margin-bottom: 50px;
}

.projeto button {
    background: linear-gradient(180deg, #FE904C 0%, #FF7017 100%);
    box-shadow: 0px 2.04911px 2.04911px rgba(0, 0, 0, 0.15);
    border-radius: 5.12277px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20.4911px;
    line-height: 31px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    margin-bottom: 80px;
    padding: 5px 15px;
}

.projetos-celular {
    display: none;
}


@media only screen and (max-width:834px) {
    .carrosel {
        width: 100%;        
    }

    .carrosel-titulo {
        font-size: 36px;
        line-height: 64px;
        margin-bottom: 55px;
    }

    .projeto {
        max-width: 318px;        
    }
    
    .projeto:first-of-type {
        margin-right: 5px;
    }
    
    .projeto-img {        
        width: 306px;        
    }

    .projeto div {
        padding: 0 20px; 
    }
    
    .projeto h3 {
        font-weight: 700;
        font-size: 19px;
        line-height: 23px;        
    }
    
    .projeto p {
        font-size: 11px;
        line-height: 16px;
        margin-bottom: 20px;
    }
    
    .projeto button {        
        font-size: 13px;
        line-height: 20px;
        margin: 20px;   
    }
}

@media only screen and (max-width:360px) {
    .carrosel-titulo {
        font-size: 32px;
        line-height: 48px;
        margin-bottom: 45px;
    }

    .projetos-tela {
        display: none;
    }

    .projeto {
        max-width: 304px;    
        position: relative;
        margin-bottom: 50px; 
    }
    
    .projeto:first-of-type {
        margin-right: 0px;
    }
    
    .projeto-img {        
        max-width: 293px;
        margin: 5px auto 20px;
    }

    .projeto h3 {
        line-height: 22px;    
        margin-bottom: 25px;    
    }

    .projeto p {
        margin-bottom: 60px;
    }
    
    .projeto button {        
        font-size: 21px;
        line-height: 31px;
        margin: 0px;
        position: absolute;
        bottom: -20px;
    }

    .projetos-celular {
        display: flex;
        justify-content: center;
        align-items: center;    
        flex-direction: column;  
    }
}