.carrosel {
    width: 1440px;
    margin: 0 auto;
}

.carrosel-titulo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 69px;
    color: #FE6C05;
    text-align: center;
    margin-bottom: 80px;
}

.projetos-celular {
    display: none;
}


@media only screen and (max-width:834px) {
    .carrosel {
        width: 100%;        
    }

    .carrosel-titulo {
        font-size: 36px;
        line-height: 64px;
        margin-bottom: 55px;
    }
}

@media only screen and (max-width:360px) {
    .carrosel-titulo {
        font-size: 32px;
        line-height: 48px;
        margin-bottom: 45px;
    }

    .projetos-tela {
        display: none;
    }

    .projetos-celular {
        display: flex;
        justify-content: center;
        align-items: center;    
        flex-direction: column;  
    }
}